<div id="consequence-<%= consequence.severity %>-show" class="card mb-3 mr-3" style="width: 30rem">
  <div class="card-body">
    <h5 class="card-title">Level <%= consequence.severity %>: <%= consequence.label %></h5>
    <div class="card-text">
      <p><%= consequence.example %></p>
      <h5>Consequence</h5>
      <p><%= consequence.consequence %></p>
    </div>
  </div>
</div>
