<div id="consequence-<%= consequence.severity %>-show" class="card mb-3 mr-3">
  <div class="card-body">
    <h3 class="card-title">Level <%= consequence.severity %>: <%= consequence.label %></h3>
    <div class="card-text">
      <p><%= consequence.example %></p>
      <h4>Consequence</h4>
      <p><%= consequence.consequence %></p>
    </div>
  </div>
</div>
