<h2><%= link_to @project.name, @project %>: Consequence Ladder</h2>

<div class="mb-3" style="border-bottom: 1px solid #ddd">
  <p>The consequence ladder establishes guidelines for how you will enforce your code of conduct, specifying different escalating levels of violations and their consequences. When your project is public, its ladder will be displayed on your project's directory page. As part of moderation of issues, you will be able to assign a level to the issue, and this level's description will be visible to both reporters and respondents.</p>

  <p>You can customize your consequence ladder from Beacon defaults or another one of your projects, or create your own.</p>

  <p><b>Important:</b> If you clone the consequence ladder from another source, all of your current issues will lose their associated severity.</p>

  <%= form_for @project, url: project_clone_ladder_path(slug: @project.slug) do |f| %>
    <div class="form-group col-sm-6">
      <%= f.label :clone_from %>
      <%= f.select :consequence_ladder_default_source, @available_ladders.map(&:titleize), class: "form-control", include_blank: "Select..." %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "Clone", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>

<div class="row">

  <div class="col">
    <div id="ladder"%>
      <% @issue_severity_levels.each do |consequence| %>
        <%= render partial: "consequence", locals: { consequence: consequence } %>
      <% end %>
    </div>
  </div>

  <div class="col">
    <h3>New Level</h4>
    <%= form_for @issue_severity_level, url: project_issue_severity_levels_path do |f| %>
      <div class="form-group col-sm-6">
        <%= f.label :label %><br />
        <%= f.text_field :label, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :severity %>
        <%= f.select :severity, @available_severities, class: "form-control" %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :example %><br />
        <%= f.text_area :example, class: "form-control" %>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :consequence %><br />
        <%= f.text_area :consequence, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Update Ladder", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  function toggle_show_and_form_views(id) {
    $('#' + id + '-show').toggle();
    $('#' + id + '-form').toggle();
  }
<% end %>
