<% title "#{@subject.name}: Community Impact and Consequences" %>

<h1><%= link_to @subject.name, @subject %>: Community Impact and Consequences Guide</h1>

<div class="mb-3" style="border-bottom: 1px solid #ddd">
  <p>The Community Impact and Consequences Guide lets you establish guidelines for how you will enforce your code of conduct, specifying different escalating levels of violations and their consequences. When your project is public, this map will be displayed on your project's directory page. As part of moderation of issues, you will be able to assign a level to the issue.</p>

  <% if current_account.can_manage_consequence_ladder?(@project) || current_account.can_manage_organization?(@organization) %>
    <p>You can customize this guide from Beacon defaults or another one of your projects, or create your own.</p>

    <p><b>Important:</b> If you clone the guide from another source, all of your current issues will lose their associated severity.</p>

    <% if @project %>
      <% path = project_clone_ladder_path(slug: @project.slug) %>
    <% elsif @organization %>
      <% path = organization_clone_ladder_path(slug: @organization.slug) %>
    <% end %>
    <%= form_for @subject, url: path do |f| %>
      <div class="form-group col-sm-6">
        <%= f.label :clone_from %>
        <%= f.select :consequence_ladder_default_source, @available_ladders.map(&:titleize), class: "form-control", include_blank: "Select..." %>
      </div>

      <div class="actions mb-3">
        <%= f.submit "Clone", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">

  <div class="col">
    <div id="ladder"%>
      <% @issue_severity_levels.each do |consequence| %>
        <%= render partial: "consequence_moderator", locals: { consequence: consequence } %>
      <% end %>
    </div>
  </div>

  <% if current_account.can_manage_consequence_ladder?(@project) || current_account.can_manage_organization?(@organization) %>
    <div class="col">
      <h2>New Level</h2>
      <% if @project %>
        <% path = project_issue_severity_levels_path(project_slug: @project.slug) %>
      <% elsif @organization %>
        <% path = organization_issue_severity_levels_path(organization_slug: @organization.slug) %>
      <% end %>
      <%= form_for @issue_severity_level, url: path do |f| %>
        <div class="form-group col-sm-6">
          <%= f.label :label %><br />
          <%= f.text_field :label, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :severity %>
          <%= f.select :severity, @available_severities, class: "form-control" %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :example %><br />
          <%= f.text_area :example, class: "form-control" %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :consequence %><br />
          <%= f.text_area :consequence, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Update Guide", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  function toggle_show_and_form_views(id) {
    $('#' + id + '-show').toggle();
    $('#' + id + '-form').toggle();
  }
<% end %>
