<% title "Account Confirmation" %>

<h1>Resend confirmation instructions</h1>

<div class="container">

  <div class="row">
    <div class="col-sm">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages" %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Send Again", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm">
      <%= render "devise/shared/links" %>
    </div>

</div>
