<div class="row mt-3">

  <div class="col">
    <div style="background-image: url('/watermark.svg'); background-repeat: no-repeat; background-position: left top; background-size: 100px 100px;">
      <div style="mix-blend-mode: exclusion; padding: .25em;">
        <%= @issue.description %>
      </div>
    </div>
  </div>

  <div class="col" style="border-left: 1px solid #eee;">
    <h2 class="mt-3">Reporter</h2>
    <ul>
      <li>
        <% if @project.obscure_reporter_email? %>
          Anonymous
        <% else %>
          <%= @issue.reporter.email %><br />
        <% end %>
        <%= link_to "History", project_reporter_path(@project, @issue.reporter.id), class: "btn btn-sm btn-warning" %>
        <% if @reporter_block.present? %>
          <p>
            This account is blocked for this project for the following reason:<br />
            <%= @reporter_block.reason %>
          </p>
          <%= form_for @reporter_block, url: project_account_project_block_path(@project, @reporter_block), method: :delete do |f| %>
            <%= f.hidden_field :account_id, value: @issue.reporter.id %>
            <div class="actions">
              <%= f.submit "Unblock", class: "btn btn-sm btn-danger" %>
            </div>
          <% end %>
        <% else %>
          <a onclick="toggle_show_block_form('<%= @issue.reporter.hashed_email %>')" class="btn btn-sm btn-danger">Block</a>
        <% end %>

        <div id="block-form-<%= @issue.reporter.hashed_email %>" style="display: none">
          <%= form_for @project.account_project_blocks.new, url: project_account_project_blocks_path(@project) do |f| %>
            <%= f.hidden_field :account_id, value: @issue.reporter.id %>
            <div class="form-group">
              <%= f.label "Reason" %><br />
              <%= f.text_area :reason, class: "form-control" %>
            </div>
            <div class="actions">
              <%= f.submit "Block", class: "btn btn-sm btn-danger", confirm: "Are you sure you want to block this account? They will no longer be able to open or comment on issues on this project." %>
              <a onclick="toggle_show_block_form('<%= @issue.reporter.hashed_email%>')" class="btn btn-sm">Cancel</a>
            <% end %>
          </div>
        </div>
      </li>
    </ul>

    <div style="width: 10rem;">
      <h2 class="mt-3">
        Respondent
        <div class="float-right badge badge-pill badge-info" data-toggle="tooltip" data-placement="right" title="The respondent is the person whose behavior was flagged in the issue.">?</div>
        </div>

      </h2>
    <% if @issue.respondent %>
      <ul>
        <li>
          <%= @issue.respondent.email %><br />
          <%= link_to "History", project_respondent_path(@project, @issue.respondent.id), class: "btn btn-sm btn-warning" %>
          <% if @respondent_block %>
            <p>
              This account is blocked for this project for the following reason:<br />
              <%= @respondent_block.reason %>
            </p>
            <%= form_for @respondent_block, url: project_account_project_block_path(@project, @respondent_block), method: :delete do |f| %>
              <%= f.hidden_field :account_id, value: @issue.respondent.id %>
              <div class="actions">
                <%= f.submit "Unblock", class: "btn btn-sm btn-danger" %>
              </div>
            <% end %>
         <% else %>
            <a onclick="toggle_show_block_form('<%= @issue.respondent.hashed_email %>')" class="btn btn-sm btn-danger">Block</a>
          <% end %>
          <div id="block-form-<%= @issue.respondent.hashed_email %>" style="display: none">
            <%= form_for @project.account_project_blocks.new, url: project_account_project_blocks_path(@project) do |f| %>
            <%= f.hidden_field :account_id, value: @issue.respondent.id %>
            <div class="form-group">
              <%= f.label "Reason" %><br />
              <%= f.text_area :reason, class: "form-control" %>
            </div>
            <div class="actions">
              <%= f.submit "Block", class: "btn btn-sm btn-danger", confirm: "Are you sure you want to block this account? They will no longer be able to open or comment on issues on this project." %>
              <a onclick="toggle_show_block_form('<%= @issue.respondent.hashed_email%>')" class="btn btn-sm">Cancel</a>
            </div>
            <% end %>
          </div>
        </li>
      </ul>
    <% else %>
      <%= link_to "Add Respondent", new_project_issue_issue_invitation_path(project, issue), class: "ml-4 btn btn-danger mr-3" %>
    <% end %>

    <h2 class="mt-3">Supporting Links</h2>
    <ul>
      <% if issue.urls.reject(&:empty?).any? %>
        <% issue.urls.reject(&:empty?).each do |url| %>
          <li><%= link_to truncate(url, lenght: 30), url, target: "_new" %></li>
        <% end %>
      <% else %>
        <li>No links provided.</li>
      <% end %>
    </ul>

    <% if @project.issue_severity_levels.any? %>
      <h2 class="mt-3">Severity</h2>
      <ul>
        <li>
          <div id="severity-show" style="display: <%= @issue_severity_level.present? ? 'block' : 'none' %>">
            <%= "#{@issue_severity_level.try(:severity)} (#{@issue_severity_level.try(:label)})" %>
            <p><%= "#{@issue_severity_level.try(:consequence)}" %></p>
            <button type="button" class="btn btn-primary btn-sm" onmouseup="toggle_show_and_form_views('severity')">Edit</button>
          </div>
          <div id="severity-form" style="display: <%= @issue_severity_level.present? ? 'none' : 'block' %>">
            <%= form_for @issue, url: project_issue_path(@project, @issue) do |f| %>
              <div class="form-group">
                <%= f.select :issue_severity_level_id, @project.issue_severity_levels.map{ |isl| ["#{isl.severity}: #{isl.label}", isl.id] }, include_blank: 'Select...', class: "form-control" %>
              </div>
              <div class="actions">
                <%= f.submit "Save", class: "btn btn-primary" %>
                <a onclick="toggle_show_and_form_views('severity')" class="btn">Cancel</a>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    <% end %>
    <h2 class="mt-3">Status</h2>
    <ul>
      <li>
        <%= issue.aasm_state.titleize %> (<%= issue.updated_at.in_time_zone.strftime("%a %b %d %Y at %l:%M %p %Z") %>)
      </li>
    </ul>

    <% if issue.submitted? %>
      <%= button_to "Acknowledge", project_issue_acknowledge_path(project, issue), class: "float-left btn btn-warning mr-3 float-left" %>
    <% elsif issue.acknowledged? || issue.reopened? %>
      <%= button_to "Dismiss", project_issue_dismiss_path(project, issue), class: "float-left btn btn-warning mr-3 float-left" %>
    <% elsif issue.dismissed? || issue.resolved? %>
      <%= button_to "Re-Open", project_issue_reopen_path(project, issue), class: "float-left btn btn-warning mr-3 float-left" %>
    <% end %>
  </div>
</div>

<div class="row mt-3">

  <div class="nav nav-tabs mt-5 mb-3" id="nav-tab" role="tablist" style="width: 100%;">
    <a class="nav-link active" id="nav-internal-discussion-tab" data-toggle="pill" href="#nav-internal-discussion" role="tab" aria-controls="nav-internal-discussion" aria-selected="true">
      Moderator Discussion
      <% if @notifications_for_internal_comments_count > 0 %>
        <span class="badge badge-pill badge-danger"><%= @notifications_for_internal_comments_count %></span>
      <% end %>
    </a>
    <a class="nav-link " id="nav-reporter-discussion-tab" data-toggle="pill" href="#nav-reporter-discussion" role="tab" aria-controls="nav-reporter-discussion" aria-selected="false">
      Reporter Discussion
      <% if @notifications_for_reporter_comments_count > 0 %>
        <span class="badge badge-pill badge-danger"><%= @notifications_for_reporter_comments_count %></span>
      <% end %>
    </a>
    <a class="nav-link " id="nav-respondent-discussion-tab" data-toggle="pill" href="#nav-respondent-discussion" role="tab" aria-controls="nav-respondent-discussion" aria-selected="false">
      Respondent Discussion
      <% if @notifications_for_respondent_comments_count > 0 %>
        <span class="badge badge-pill badge-danger"><%= @notifications_for_respondent_comments_count %></span>
      <% end %>
    </a>
    <a class="nav-link " id="nav-uploads-tab" data-toggle="pill" href="#nav-uploads" role="tab" aria-controls="nav-uploads" aria-selected="false">
      Screenshots
    </a>
    <a class="nav-link " id="nav-resolution-tab" data-toggle="pill" href="#nav-resolution" role="tab" aria-controls="nav-resolution" aria-selected="false">
      Resolution
    </a>
    <a class="nav-link " id="nav-history-tab" data-toggle="pill" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">
      Issue History
    </a>
  </div>

  <div class="tab-content" id="nav-tabContent" style="width: 100%;">

    <div class="tab-pane fade show active" id="nav-internal-discussion" role="tabpanel" aria-labelledby="nav-internal-discussion-tab">
      <div id="internal-discussion">
        <% internal_comments.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment, project: @project } %>
        <% end %>
      </div>

      <%= form_for comment, url: project_issue_issue_comments_path(project, issue), remote: true do |f| %>
        <div class="form-group">
          <%= f.label "New Comment" %><br />
          <%= f.hidden_field :visible_only_to_moderators, value: 1 %>
          <%= f.hidden_field :context, value: "internal" %>
          <%= f.text_area :text, class: "form-control moderator-message" %>
        </div>

        <div class="actions">
          <%= f.submit "Send to Moderators", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-reporter-discussion" role="tabpanel" aria-labelledby="nav-reporter-discussion-tab">

      <div id="reporter-discussion">
        <% reporter_discussion_comments.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment, project: @project } %>
        <% end %>
      </div>

      <%= form_for comment, url: project_issue_issue_comments_path(@project, @issue), remote: true do |f| %>
        <div class="form-group">
          <%= f.label "Comment" %><br />
          <%= f.hidden_field :visible_to_reporter, value: 1 %>
          <%= f.hidden_field :context, value: "reporter" %>
          <%= f.text_area :text, class: "form-control reporter-message" %>
        </div>

        <div class="actions">
          <%= f.submit "Send to Reporter", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-respondent-discussion" role="tabpanel" aria-labelledby="nav-respondent-discussion-tab">

      <% if @issue.respondent_summary %>
        <div class="card mb-3 mr-3" style="width: 100%">
          <div class="card-body">
            <h2 class="card-title">
              Issue Summary to Respondent
            </h2>
            <div class="card-text">
              <p><%= @issue.respondent_summary %></p>
            </div>
          </div>
        </div>
      <% end %>

      <div id="respondent-discussion">
        <% respondent_discussion_comments.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment, project: @project } %>
        <% end %>
      </div>

      <div class="actions">
        <% if @issue.respondent.present? %>
          <%= form_for comment, url: project_issue_issue_comments_path(@project, @issue), remote: true do |f| %>
            <div class="form-group">
              <%= f.label "Comment" %><br />
              <%= f.hidden_field :visible_to_respondent, value: 1 %>
              <%= f.hidden_field :context, value: "respondent" %>
              <%= f.text_area :text, class: "form-control respondent-message" %>
            </div>
            <div class="actions">
              <%= f.submit "Send to Respondent", class: "btn btn-primary" %>
            </div>
          <% end %>
      <% else %>
          <%= link_to "Contact Respondent", new_project_issue_issue_invitation_path(project, issue), class: "btn btn-danger mr-3" %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-uploads" role="tabpanel" aria-labelledby="nav-uploads-tab">
      <div class="uploads">
         <% @issue.uploads.each do |upload| %>
           <%= link_to image_tag(upload), upload %>
         <% end %>
       </div>
    </div>

    <div class="tab-pane fade" id="nav-resolution" role="tabpanel" aria-labelledby="nav-resolution-tab">
      <% if @issue.resolved_at.nil? %>
        <%= form_for @issue, url: project_issue_resolve_path(@project, @issue) do |f| %>
          <div class="form-group">
            <%= f.label "Resolution" %><br />
            <%= f.text_area :resolution_text, class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Resolve Issue", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% else %>
        <div class="card mb-3 ml-3 mr-3" style="width: 90%">
          <div class="card-body">
            <h2 class="card-title">
              Resolution
            </h2>
            <div class="card-text">
              <p><%= @issue.resolution_text %></p>
              <h6>
                Resolved on <%= @issue.resolved_at.in_time_zone.strftime("%a %b %d %Y at %l:%M %p %Z") %>
              </h6>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
      <ul>
        <li>
          Submitted
          <% if project.project_setting.allow_anonymous_issues? %>
            by anonymous
          <% else %>
            by <%= issue.reporter.email %>
          <% end %>
          (<%= issue.created_at.in_time_zone.strftime("%a %b %d %Y at %l:%M %p %Z") %>)
        </li>
        <% issue.issue_events.each do |event| %>
          <li><%= event.event %> by <%= event.actor.email %> (<%= event.updated_at.in_time_zone.strftime("%a %b %d %Y at %l:%M %p %Z") %>)
        <% end %>
      </ul>

    </div>
  </div>
</div>

<%= javascript_tag do %>
  function toggle_show_block_form(id) {
    $('#block-form-' + id).toggle();
  }
  function toggle_show_and_form_views(id) {
    $('#' + id + '-show').toggle();
    $('#' + id + '-form').toggle();
  }
<% end %>
