<% title "#{@project.name}: Open an Issue" %>

<h1>Open an Issue in <%= @project.name %></h1>

<p>Use this form to open a code of conduct issue. For reference, the code of conduct for
this project can be found <%= link_to "here", @project.coc_url, target: "_new" %>.</p>

<h3 class="mt-5">Issue Guidelines</h3>
<p>The project maintainers have the following requirements for opening an issue:</p>
<ul>
  <% if @project.project_setting.allow_anonymous_issues? %>
    <li>Your email will be hidden from project maintainers when you open an issue.</li>
  <% else %>
    <li>Your email address will be visible to project maintainers.</li>
  <% end %>
  <% if @project.project_setting.require_3rd_party_auth? %>
    <li>You must have a valid linked account on Github or GitLab</li>
  <% end %>
</ul>

<h3 class="mt-5">Issue Details</h3>

<%= form_for @issue, url: project_issues_path(@project) do |f| %>

  <div class="form-group">
    <label for="issue_description">Describe the incident in as much detail as you can.</label><br />
    <%= f.text_area :description, class: "form-control", rows: 10 %>
  </div>

  <% if @consequences.any? %>
    <div class="form-group">
      <label>Select the corresponding violation type (optional).</label>
      <div class="input-group mb-3" role="group" aria-label="Violation type">
        <% @consequences.each do |consequence| %>
          <div class="input-group-text" style="width: 100%; white-space: normal; text-align: left;">
            <%= f.radio_button :reporter_consequence_id, consequence.id %>
            <%= f.label consequence.action, class: "ml-2" %><br />
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <label>Provide any relevant URLs.</label><br />
    <input type="text" name="issue[urls][]", class="form-control">
    <input type="text" name="issue[urls][]", class="form-control">
    <input type="text" name="issue[urls][]", class="form-control">
    <input type="text" name="issue[urls][]", class="form-control">
    <input type="text" name="issue[urls][]", class="form-control">
  </div>

  <div class="form-group">
    <label>Attach any relevant screen shots:</label><br />
    <%= f.file_field :uploads, multiple: true %>
  </div>

  <div class="form-group">
    <%= flash[:recaptcha_error] %>
    <%= recaptcha_tags %>
  </div>

  <div class="actions">
    <%= f.submit "Open Issue", class: "btn btn-primary" %>
  </div>
<% end %>
