<% if @project.user_is_admin?(current_account) %>
  <h2><%= link_to @project.name, @project %>: Issue <%= @issue.issue_number %></h2>
<% else %>
  <h2><%= link_to @project.name, directory_project_path(@project) %>: Issue <%= @issue.issue_number %></h2>
<% end %>

<% if @project.user_is_admin?(current_account) %>
  <%= render partial: "moderator_view", locals: {
        project: @project,
        issue: @issue,
        reporter_discussion_comments: @reporter_discussion_comments,
        respondent_discussion_comments: @respondent_discussion_comments,
        internal_comments: @internal_comments,
        comment: @comment
      }
  %>
<% elsif @issue.reporter == current_account %>
  <%= render partial: "reporter_view", locals: {
        project: @project,
        issue: @issue,
        reporter_discussion_comments: @reporter_discussion_comments,
        comment: @comment
      }
  %>
<% elsif @issue.respondent == current_account %>
  <%= render partial: "respondent_view", locals: {
        project: @project,
        issue: @issue,
        respondent_discussion_comments: @respondent_discussion_comments,
        comment: @comment
      }
  %>
<% end %>

