<h2><%= link_to @project.name, @project %>: Issue <%= @issue.issue_number %></h2>

<h4 class="mt-3">Description</h4>
<div style="background-image: url('/watermark.svg'); background-repeat: no-repeat; background-position: left top;">
  <div style="mix-blend-mode: exclusion; padding: 1em;">
    <%= @issue.description %>
  </div>
</div>

<h4>Supporting Links</h4>
<% if @issue.urls.reject(&:empty?).any? %>
  <ul>
    <% @issue.urls.reject(&:empty?).each do |url| %>
      <li><%= link_to url, url, target: "_new" %></li>
    <% end %>
  </ul>
<% else %>
  <p>No links provided.</p>
<% end %>

<h4>Status</h4>
<p><%= @issue.aasm_state.titleize %> (<%= @issue.updated_at.in_time_zone.strftime("%a %b %d %Y at %l:%M %p %Z") %>)</p>

<% if @issue.issue_events.any? %>
  <h4>History</h4>
  <ul>
    <% @issue.issue_events.each do |event| %>
      <li><%= event.event %> by <%= event.actor.email %> (<%= event.updated_at.in_time_zone.strftime("%a %b %d %Y at %l:%M %p %Z") %>)
    <% end %>
  </ul>
<% end %>

<% if @issue.submitted? %>
  <%= button_to "Acknowledge", project_issue_acknowledge_path(@project, @issue), class: "float-left btn btn-warning mr-3 float-left" %>
<% elsif @issue.acknowledged? || @issue.reopened? %>
  <%= button_to "Dismiss", project_issue_dismiss_path(@project, @issue), class: "float-left btn btn-warning mr-3 float-left" %>
  <%= button_to "Resolve", project_issue_resolve_path(@project, @issue), class: "float-left btn btn-warning mr-3 float-left" %>
<% elsif @issue.dismissed? || @issue.resolved? %>
  <%= button_to "Re-Open", project_issue_reopen_path(@project, @issue), class: "float-left btn btn-warning mr-3 float-left" %>
<% end %>
