<% title "#{@subject.name}: Edit Respondent Template" %>

<h1>Respondent Contact Template</h1>

<p>This template will be used when you first contact the respondent of an issue.</p>

<div class="row">

  <div class="col">
    <% url = project_respondent_template_path(@project, @template) if @project.present? %>
    <% url ||= organization_respondent_template_path(@organization, @template) if @organization.present? %>
    <%= form_for @template, url: url do |f| %>
      <div class="form-group">
        <%= f.text_area :text, class: "form-control", rows: 20 %>
      </div>

      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", @subject, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="col">
    <h2>Tags</h2>
    <p>The following tags will be auto-populated from your project and the issue when you contact a respondent:</p>

    <ul>
      <li>[[PROJECT_NAME]]</li>
      <li>[[CODE_OF_CONDUCT_URL]]</li>
      <li>[[VIOLATION_EXAMPLE]]: The example from the impact and consequence guide corresponding to the level of the issue.</li>
      <li>[[CONSEQUENCE]]: The relevant consequence corresponding to the level of the issue's impact.</li>
      <li>[[ISSUE_URL]]</li>
    </ul>

    <h2>Cloning a Template</h2>
    <p>You can customize your respondent template from Beacon defaults or another one of your projects, or create your own.</p>

    <% url = project_clone_respondent_template_path(@project) if @project.present? %>
    <% url ||= organization_clone_respondent_template_path(@organization) if @organization.present? %>
    <%= form_for @template, url: url do |f| %>
      <div class="form-group col-sm-6">
        <%= f.label :clone_from %>
        <%= f.select :respondent_template_default_source, @available_templates, class: "form-control", include_blank: "Select..." %>
      </div>

      <div class="actions mb-3">
        <%= f.submit "Clone", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
