<h2><%= I18n.t('authy_verify_installation_title', {:scope => 'devise'}) %></h2>

<div class="container">

  <div class="row">
    <div class="col-sm">
      <%= verify_authy_installation_form do %>
        <div class="form-group">
          <%= label_tag :token %>
          <%= text_field_tag :token, "", autocomplete: :off, id: 'authy-token', class: "form-control" %>
          <%= authy_request_sms_link %>
        </div>
        <div class="actions">
          <%= submit_tag I18n.t('enable_my_account', {:scope => 'devise'}), :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
