<h2><%= I18n.t('authy_verify_installation_title', {:scope => 'devise'}) %></h2>

<div class="container">

  <div class="row">
    <div class="col-sm">
      <%= verify_authy_form do %>
        <div class="form-group">
          <%= label_tag '2fa code' %><br />
          <%= text_field_tag :token, "", :autocomplete => "one-time-code", id: 'authy-token' %>
        </div>
        <div class="form-group">
          <%= check_box_tag :remember_device %>
          <span><%= I18n.t('remember_device', {scope: 'devise'}) %></span>
        </div>
        <div class="actions">
          <a id="authy-request-sms-link" data-remote="true" rel="nofollow" data-method="post" href="/accounts/request-sms" class="btn btn-primary">Send SMS</a>
          <%= submit_tag I18n.t('submit_token', {scope: 'devise'}), :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(function () {
    var token;
    token=document.getElementById("authy-token");
    token.setAttribute("autocomplete","one-time-code");
  });
<% end %>

<% if @onetouch_uuid %>
    <script>
      (function(){
        var onetouchInterval = setInterval(function(){
          var onetouchRequest = new XMLHttpRequest();
          onetouchRequest.addEventListener("load", function(){
            if(this.status != 202) clearInterval(onetouchInterval);
            if(this.status == 200) window.location = JSON.parse(this.responseText).redirect;
          });
          onetouchRequest.open("GET", "<%= polymorphic_path [resource_name, :authy_onetouch_status] %>?onetouch_uuid=<%= @onetouch_uuid %>");
          onetouchRequest.send();
        }, 3000);
      })();
    </script>
<% end %>
