<h2>Report Abuse: <%= @project.name %></h2>

<p>If you feel that this project is fraudulent or otherwise inappropriate, use this form to notify Beacon administrators.</p>

<%= form_for @abuse_report do |f| %>
  <%= hidden_field_tag :project_slug, @project.slug %>
  <div class="form-group col-sm-6">
    <%= f.label "Explanation" %><br />
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Report Project", class: "btn btn-primary" %>
  </div>
<% end %>
