<div class="row">

  <div class="col">
    <h2><%= @project.name %></h2>
    <p><%= @project.description %></p>

    <h3 class="mt-5">Links</h3>
    <ul>
      <li><%= link_to "Home page", @project.url, target: "_new" %></li>
      <li><%= link_to "Code of conduct", @project.coc_url, target: "_new" %></li>
    </ul>

    <h3 class="mt-5">Issue Guidelines</h3>
    <p>The project maintainers have the following requirements for opening an issue:</p>
    <ul>
      <% if @project.project_setting.allow_anonymous_issues? %>
        <li>Your email will be hidden from project maintainers when you open an issue.</li>
      <% else %>
        <li>Your email address will be visible to project maintainers.</li>
      <% end %>
      <% if @project.project_setting.require_3rd_party_auth? %>
        <li>You must have a valid linked account on Github or GitLab</li>
      <% end %>
    </ul>

    <% if current_account && current_account.can_open_issue_on_project?(@project) %>
      <div class="actions">
        <%= link_to "Open an Issue", new_project_issue_path(@project), class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3 class="mt-5">Project Governance</h3>
    <p><%= @project.name %> is managed by a single individual.</p>

    <% if @project.project_setting.publish_stats? %>
      <h3 class="mt-5">3-Month Activity</h3>
      <p>Issues opened: 2</p>
      <p>Issues resolved: 2</p>
      <p>Average time to resolve an issue: 3 days</p>
    <% end %>

  </div>

  <div class="col">
    <% if @issue_severity_levels.any? %>
      <h3 class="mt-3">Consequence Ladder</h3>
      <% @issue_severity_levels.each do |consequence| %>
        <%= render partial: "issue_severity_levels/consequence_public", locals: { consequence: consequence } %>
      <% end %>
    <% end %>
  </div>

</div>
