<% title "#{@project.name}" %>

<div class="row">

  <div class="col">
    <h1><%= @project.name %></h1>
    <p>
      <%= link_to @project.url, @project.url, target: "_new" %><br />
      <%= @project.description %>
    </p>

    <% if current_account %>
      <% if current_account.can_open_issue_on_project?(@project) %>
        <div class="actions">
          <%= link_to "Open an Issue", new_project_issue_path(@project), class: "btn btn-primary" %>
        </div>
      <% else %>
        <p><b>This project is not accepting issues at this time.</b></p>
      <% end %>
    <% else %>
      <p>
        You must <%= link_to "create an account", new_account_registration_path %>
        or <%= link_to "sign in", new_account_session_path %> to open an issue.
      </p>
    <% end %>

  </div>

  <div class="col">
    <h2>Project Governance</h2>
    <p><%= @project.name %> is managed by a <%= @project.moderators.size == 1 ? "single individual" : "team of moderators" %>.</p>

    <% if current_account && @project.project_setting.show_moderator_names? %>
      <ul>
        <% @project.moderators.map(&:name).select(&:present?).each do |moderator| %>
          <li><%= moderator %></li>
        <% end %>
      </ul>
    <% end %>
    <p><%= link_to "View code of conduct", @project.coc_url, target: "_new", class: "btn btn-dark" %></p>

    <h2 class="mt-4">Privacy and Security</h2>
    <ul>
      <% if @project.project_setting.allow_anonymous_issues? %>
        <li>Your email will be hidden from project maintainers when you open an issue.</li>
      <% else %>
        <li>Your email address will be visible to project maintainers.</li>
      <% end %>
      <% if @project.project_setting.require_3rd_party_auth? %>
        <li>You must have a valid linked account on Github or GitLab</li>
      <% end %>
    </ul>

    <% if @project.project_setting.publish_stats? %>
      <h2 class="mt-5">3-Month Activity</h2>
      <p><span class="badge badge-pill badge-primary">90%</span> reporter satisfaction with issue resolution</p>
      <p><span class="badge badge-pill badge-primary">75%</span> respondent satisfaction with issue resolution</p>
      <p><span class="badge badge-pill badge-primary">4 days</span> on average to resolve an issue</p>
    <% end %>

    <% if current_account %>
      <div class="actions">
        <%= link_to "Report This Project", new_abuse_report_path(project_slug: @project.slug), class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>

</div>

<% if @issue_severity_levels.any? %>
  <h2 class="mt-3">Community Impact and Consequences Guide</h2>
  <% @issue_severity_levels.each do |consequence| %>
    <%= render partial: "issue_severity_levels/consequence_public", locals: { consequence: consequence } %>
  <% end %>
<% end %>
