<h2><%= link_to @project.name, @project %>: Issue <%= @issue.issue_number %></h2>

<h3>Contact Reporter</h3>

<%= form_for @comment, url: project_issue_issue_comments_path(@project, @issue) do |f| %>
  <div class="form-group">
    <%= f.label "Comment" %><br />
    <%= f.hidden_field :visible_to_reporter, value: 1 %>
    <%= f.text_area :text, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>
