<% title "Admin: Projects" %>

<h1>Projects (<%= @projects.size %>)</h1>

<table class="table" id="projects" data-sorting="true">
  <thead>
    <tr>
      <th>Project</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Owner</th>
      <th>Setup Complete?</th>
      <th>Flagged?</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, admin_project_path(project) %></td>
        <td><%= project.created_at.strftime("%D") %></td>
        <td><%= project.updated_at.strftime("%D") %></td>
        <td>
          <%= project.account.display_name %><br /><%= project.account.email %>
        </td>
        <td><span class="badge"><%= project.check_setup_complete? ? "√" : "x" %></span></td>
        <td><%= project.is_flagged? ? "Flagged" : "" %></td>
      </tr>
    <% end %>
  </tbody>
<table>

<%= javascript_tag do %>
  jQuery(function($){
	  $('.table').footable();
  });
<% end %>
