<% title "Admin: #{@project.name}" %>

<div class="row">
  <div class="col">
    <h1><%= @project.name %></h1>
    <p><%= @project.description %></p>

    <div class="actions mt-1">
      <% if current_account.can_lock_project? %>
        <% if !@project.is_flagged? %>
          <a id="block-button" class="btn btn-danger" onclick="$('#block-form').toggle(); $('#block-button').toggle(); ">Lock Project</a>
          <div id="block-form" style="display: none;">
            <%= form_for @project, url: admin_project_flag_path(@project) do |f| %>
              <div class="form-group col-sm-6">
                <%= f.label 'Reason for Locking' %><br />
                <%= f.text_area :flagged_reason, class: "form-control" %>
              </div>
              <div class="actions">
                <%= f.submit "Lock", class: "btn btn-danger", confirm: "Are you sure you want to lock this project?" %>
                <a class="btn btn-warning" onclick="$('#block-form').toggle(); $('#block-button').toggle(); ">Cancel</a>
              </div>
            <% end %>
          </div>
        <% else %>
          <h2 class="mt-3">Project is Locked</h2>
          <p><%= @project.flagged_reason %></p>
          <%= button_to "Unlock Project", admin_project_unflag_path(@project), class: "btn btn-danger" %>
        <% end %>
      <% end %>
    </div>

    <h2 class="mt-3">Project Home</h2>
    <%= link_to @project.url, @project.url, target: "_blank" %>

    <h2 class="mt-3">Issues</h2>
    <ul>
      <li>
        <span class="badge badge-pill badge-dark"><%= @total_issues %></span> Total
      </li>
      <li>
        <span class="badge badge-pill badge-primary"><%= @submitted_issues.size %></span> Submitted.
        <% if @submitted_issues.any? %>
          Most recent: <%= @submitted_issues.last&.created_at&.strftime("%D %r") %>
        <% end %>
      </li>
      <li>
        <span class="badge badge-pill badge-info"><%= @acknowledged_issues.size %></span> Acknowledged.
        <% if @acknowledged_issues.any? %>
          Most recent: <%= @acknowledged_issues.last&.created_at&.strftime("%D %r") %>
        <% end %>
      </li>
      <li>
        <span class="badge badge-pill badge-danger"><%= @dismissed_issues.size %></span> Dismissed.
        <% if @dismissed_issues.any? %>
          Most recent: <%= @dismissed_issues.last&.created_at&.strftime("%D %r") %>
        <% end %>
      </li>
      <li>
        <span class="badge badge-pill badge-success"><%= @resolved_issues.size %></span> Resolved.
        <% if @resolved_issues.any? %>
          Most recent: <%= @resolved_issues.last&.created_at&.strftime("%D %r") %>
        <% end %>
      </li>
    </ul>

    <h2 class="mt-3">Moderators</h2>
    <ul>
      <% @project.moderators.each do |moderator| %>
        <li><%= moderator.email %><br />
        Joined on <%= moderator.created_at.strftime("%D %r") %><br />
        Last login on <%= moderator.updated_at.strftime("%D %r") %><br />
        Moderator on <%= moderator.projects.count %> projects</li>
        Reputation: <%= moderator.reputation.titleize %></li>
      <% end%>
    </ul>

    <h2 class="mt-3">Blocked Accounts</h2>
    <ul>
    <% if @blocked_accounts.any? %>
      <% @blocked_accounts.each do |account| %>
        <li><%= account.email %></li>
      <% end %>
    <% else %>
      <li>No blocked accounts.</li>
    <% end %>
    </ul>

  </div>

  <div class="col">
    <div class="card mb-2" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Setup Checklist</h2>
        <div class="card-text">
          <ul>
            <li>
              Ownership Confirmation
              <% if @project.ownership_confirmed? %>
                <span class="badge badge-pill badge-success">
                  √
                </span>
              <% else %>
                <span class="badge badge-pill badge-danger">
                  x
                </span>
              <% end %>
            </li>
            <li>
              Impact and Consequences
              <% if @project.consequence_guide? %>
                <span class="badge badge-pill badge-success">
                  √
                </span>
              <% else %>
                <span class="badge badge-pill badge-danger">
                  x
                </span>
              <% end %>
            </li>
            <li>
              Visible in Directory
              <% if @project.show_in_directory? %>
                <span class="badge badge-pill badge-success">
                  √
                </span>
              <% else %>
                <span class="badge badge-pill badge-danger">
                  x
                </span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Links</h2>
        <div class="card-text">
          <ul>
            <li><%= link_to "Home page", @project.url, target: "_new" %></li>
            <li><%= link_to "Code of conduct", @project.coc_url, target: "_new" %></li>
            <% if @project.public? %>
              <li><%= link_to "View in Directory", directory_project_path(@project.slug) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-profile-tab">
    <table class="table">
      <tr>
        <th scope="row">Show in Project Directory</th>
        <td>
          <% if @project.public? %>
            <span class="badge badge-success">Yes</span>
          <% else %>
            <span class="badge badge-danger">No</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Show Issues Report in Project Directory</th>
        <td>
          <% if @settings.publish_stats? %>
            <span class="badge badge-success">Yes</span>
          <% else %>
            <span class="badge badge-danger">No</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Accepting Issues
          <% if @settings.paused? %>
            <p><i>Paused on <%= @settings.paused_at.strftime("%F") %></i></p>
          <% end %>
        </th>
        <td>
          <% if @settings.paused? %>
            <span class="badge badge-danger">No</span>
          <% else %>
            <span class="badge badge-success">Yes</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Hide Reporter Identity</th>
        <td>
          <% if @settings.allow_anonymous_issues? %>
            <span class="badge badge-success">Yes</span>
          <% else %>
            <span class="badge badge-danger">No</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Maximum Issues/Day</th>
        <td>
          <%= @settings.rate_per_day %>
        </td>
      </tr>
      <tr>
        <th scope="row">Require 3rd Party Account Verification</th>
        <td>
          <% if @settings.require_3rd_party_auth? %>
            <span class="badge badge-success">Yes</span>
          <% else %>
            <span class="badge badge-danger">No</span>
          <% end %>
        </td>
      </tr>
      <% if @settings.require_3rd_party_auth? %>
        <tr>
          <th scope="row">Minimum 3rd Party Account Age</th>
          <td>
            <%= @settings.minimum_3rd_party_auth_age_in_days %> days
          </td>
        </tr>
      <% end %>
    </table>

    <%= link_to "Edit Settings", project_settings_path(@project), class: "btn btn-warning float-left mr-5" %>
    <% if @settings.paused? %>
      <%= button_to "Unpause Issue Reporting", project_toggle_pause_path(@project), class: "btn btn-warning" %>
    <% else %>
      <%= button_to "Pause Issues for 24 Hours", project_toggle_pause_path(@project), class: "btn btn-danger" %>
    <% end %>

  </div>
</div>
