<h1>Admin: Abuse Reports</h1>

<table class="table" id="projects" data-sorting="true">
  <thead>
    <tr>
      <th>Report #</th>
      <th>Project</th>
      <th>Reporter</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report.report_number, admin_abuse_report_path(report) %></td>
        <td><%= report.project.name %></td>
        <td><%= report.reporter.email %></td>
        <td><%= report.created_at.strftime("%D") %></td>
        <td><%= report.updated_at.strftime("%D") %></td>
        <td>
          <% badge_kind = "warning" if report.aasm_state == "submitted" %>
          <% badge_kind = "danger" if report.aasm_state == "dismissed" %>
          <% badge_kind = "info" if report.aasm_state == "resolved" %>
          <span class="badge badge-<%= badge_kind %>"><%= report.aasm_state.titleize %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
<table>

<%= javascript_tag do %>
  jQuery(function($){
	  $('.table').footable();
  });
<% end %>
