<h1>Abuse Report <%= @report.report_number %>: <%= @project.name %></h1>

<h2>Reporter</h2>
<ul>
  <li><%= @reporter.email %></li>
  <li>
    <span class="badge badge-pill badge-success"><%= @reporter.abuse_reports.resolved.count %></span>
    reports resolved
  </li>
  <li>
    <span class="badge badge-pill badge-danger"><%= @reporter.abuse_reports.dismissed.count %></span>
    reports dismissed
  </li>
</ul>

<h2>Explanation</h2>
<p><%= @report.description %></p>

<h2 class="mt-3">About <%= link_to @project.name, admin_project_path(@project) %></h2>
<p><%= @project.description %></p>

Moderators:
<ul>
  <% @project.moderators.map(&:email).each do |email| %>
    <li><%= email %></li>
  <% end %>
</ul>

<h2>Resolution</h2>
<% if @report.aasm_state == "submitted" %>
  <%= form_for @report, url: admin_abuse_report_path(@report) do |f| %>
    <div class="form-group col-sm-6">
      <%= f.label "Admin Note" %><br />
      <%= f.text_area :admin_note, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Resolve Report", class: "btn btn-primary" %>
      <%= f.submit "Dismiss Report", class: "btn btn-danger" %>
    </div>
  <% end %>
<% else %>
  <%= @report.aasm_state.titleize %>
<% end %>
