<% title "#{@project.name}: Edit Details" %>

<h1><%= @project.name %></h1>

<%= form_for @project do |f| %>
  <div class="form-group col-sm-6">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label 'Project URL' %><br />
    <%= f.text_field :url, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <label for="project_repo_url">GitHub or GitLab URL</label><br />
    <%= f.text_field :repo_url, class: "form-control" %>
    <i>If you change this URL, you will have to re-verify your ownership.</i>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label "Code of Conduct URL" %><br />
    <%= f.text_field :coc_url, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label "Description" %><br />
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <% if @organizations.any? %>
    <div class="form-group col-sm-6">
      <%= f.label "Organization" %><br />
      <%= f.select :organization_id, @organizations.map{ |org| [org.name, org.id] }, include_blank: "None", class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group col-sm-6">
    <%= f.check_box :is_event, class: "form-check-input", onclick: "toggleEventFields();" %>
    <label class="form-check-label" for="project_is_event">This is an event</label>
  </div>

  <% display = @project.is_event? ? "block" : "none" %>

  <div class="event form-group col-sm-6" style="display: <%= display %>;">
    <%= f.label "Duration (days)" %><br />
    <%= f.text_field :duration, class: "form-control" %>
  </div>

  <div class="event form-group col-sm-6" style="display: <%= display %>;">
    <%= f.label "Frequency" %><br />
    <%= f.select :frequency, [["Weekly", "weekly"], ["Biweekly", "biweekly"], ["Monthly", "monthly"], ["Annually", "annually"]], include_blank: "Select...", class: "form-control" %>
  </div>

  <div class="event form-group col-sm-6" style="display: <%= display %>;">
    <%= f.label "# Attendees" %><br />
    <%= f.select :attendees, ["1-50", "50-100", "100-250", "250+"], include_blank: "Select...", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Project", class: "btn btn-primary" %>
    <%= link_to "Cancel", @project, class: "btn btn-primary" %>
  </div>
<% end %>

<%= javascript_tag do %>
  function toggleEventFields() {
    $('.event').toggle();
  }
<% end %>
