<h2>My Projects</h2>

<% @projects.each_with_index do |project,i| %>

  <% float_class = i < @projects.count - 1 ? "float-left" : "float-none" %>
  <div class="card mb-3 mr-3 <%= float_class %>" style="width: 45%; height: 12rem">
    <div class="card-body">
      <h5 class="card-title"><%= link_to project.name, project %></h5>
      <div class="card-text">
        <p><%= project.description %></p>
        <p>
          Visibility:
          <% if project.public? %>
            <span class="badge badge-pill badge-success">Public</span>
          <% else %>
            <span class="badge badge-pill badge-danger">Private</span>
          <% end %>
        </p>
        <p>
          Issues:
          <span class="badge badge-pill badge-danger"><%= project.issues.submitted.count %> New</span>
          <span class="badge badge-pill badge-warning"><%= project.issues.acknowledged.count + project.issues.reopened.count %> In Progress</span>
          <span class="badge badge-pill badge-light"><%= project.issues.resolved.count %> Resolved</span>
        </p>
      </div>
    </div>
  </div>

<% end %>
