<% title "#{@project.name}: Moderators" %>

<div class="row">
  <div class="col">
    <h1>Moderators</h1>
    <ul>
      <% @moderators.each do |moderator| %>
        <li>
          <%= moderator.display_name %>
          <% if @project.owner?(moderator) %>
            (Owner)
          <% end %>
          <% if moderator != current_account && current_account.can_remove_moderator?(@project)%>
            <%= button_to "Remove", project_remove_moderator_path(@project), params: { account_id: moderator.id }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if @invitations.any? %>
      <h2>Moderators Awaiting Confirmation</h2>
      <p>URL to share: <%= invitations_url %></p>
      <ul>
        <% @invitations.each do |invitation| %>
          <li>
            <%= invitation.email %><br />
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col">
    <h2>Invite a New Moderator</h2>

    <%= form_for @invitation, url: project_invitations_path(@project) do |f| %>
      <div class="form-group col-sm-6">
        <%= f.label :email, for: :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="form-group col-sm-6">
        <%= f.label :message, for: :message %><br />
        <%= f.text_area :message %>
      </div>
      <% if current_account.can_manage_project?(@project) %>
        <div class="form-group col-sm-6">
          <%= f.check_box :is_owner, class: "mr-3", aria_label: "Make this account an owner" %>
          <label class="form-check-label" for="invitation_is_owner">Make Co-Owner</label>
        </div>
      <% end %>
      <div class="form-group">
        <%= flash[:recaptcha_error] %>
        <%= recaptcha_tags %>
      </div>
      <div class="actions">
        <%= f.submit "Invite via Email", class: "btn btn-primary" %>
        <%= f.submit "Get Invitation Link", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
