<% title @project.name %>

<div class="row">
  <div class="col">
    <h1>
      <% if @project.organization %>
        <%= link_to @project.organization.name, @project.organization %>:
      <% end %>
      <%= @project.name %>
    </h1>
    <p><%= @project.description %></p>

    <% if @project.is_event? %>
      <p>This is a <%= @project.duration %>-day event with <%= @project.attendees %> attendees.</p>

      <% unless current_account.send_sms_on_issue_open %>
        <div class="alert alert-danger" role="alert">
          <p>
            As a moderator, you may want to enable SMS notifications on new issues being opened for this event.
            To activate this setting, click on your account in the upper right navigation bar.
          </p>
        </div>
      <% end %>
    <% end %>
    <div class="actions">
      <% if current_account.can_manage_project?(@project) %>
        <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-warning" %>
      <% end %>
      <% if current_account.can_open_issue_on_project?(@project) %>
        <%= link_to "Open an Issue", new_project_issue_path(@project), class: "btn btn-danger" %>
      <% end %>
    </div>
    <% if @project.accept_issues_by_email %>
      <h2 class="mt-3">Email Reporting</h2>
      <p>Reporters may submit an issue to this project by emailing <%= @project.slug %>@reports.coc-beacon.com</p>
    <% end %>
    <h2 class="mt-3">Project Statistics</h2>
    <ul>
      <% if @report.average_time_to_resolution.present? %>
        <li>
          Average issue resolution: <%= @report.average_time_to_resolution %> days
        </li>
      <% end %>
      <li>
        Overall satisfaction: <%= @report.net_promoter_score %>
      </li>
      <li>
        Overall project health: <%= @report.health %>
      </li>
      <li>
        Fair treatment: <%= @report.labelled_scores[:fairness] %>
      </li>
      <li>
        Responsiveness: <%= @report.labelled_scores[:responsiveness] %>
      </li>
      <li>
        Sensitivity: <%= @report.labelled_scores[:sensitivity] %>
      </li>
      <li>
        Community focus: <%= @report.labelled_scores[:community] %>
      </li>
    </ul>
    <% if @project.show_transparency_report? %>
      <% if @report.suitable_for_public? %>
        <p>These statistics are visible in your project's directory page. To change
        this setting, click on 'Project Settings' and uncheck the 'Publish project
        statistics in Directory' checkbox.</p>
      <% else %>
        <p>Although you have enabled transparency reporting in your project's
        directory page, there is not yet enough data to display.</p>
      <% end %>
    <% else %>
      <p>Transparency reporting for this project's directory page is currently
      not enabled. To make this report visible, click on 'Project Settings' and
      enable the 'Publish project statistics in Directory' checkbox.</p>
    <% end %>

  </div>

  <div class="col">
    <% unless @project.check_setup_complete? %>
      <div class="card mb-2" style="width: 20rem;">
        <div class="card-body">
          <h2 class="card-title">Setup Checklist</h2>
          <div class="card-text">
            <ul>
              <li>
                <% if current_account.can_manage_project?(@project) %>
                  <%= link_to "Code of Conduct URL", edit_project_path(@project) %>
                <% else %>
                  Code of Conduct URL
                <% end %>
                <% if @project.coc_url.present? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <% if current_account.can_manage_project?(@project) %>
                  <%= link_to "Ownership Confirmation", project_ownership_path(@project) %>
                <% else %>
                  Ownership Confirmation
                <% end %>
                <% if @project.ownership_confirmed? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <% if @project.autoresponder? %>
                  <%= link_to "Autoresponder", project_autoresponder_path(@project, @project.autoresponder) %>
                <% else %>
                  <%= link_to "Autoresponder", new_project_autoresponder_path(@project) %>
                <% end %>
                <% if !@project.setup_complete? %>
                  <% if @project.autoresponder? %>
                    <span class="badge badge-pill badge-success">
                      √
                    </span>
                  <% else %>
                    <span class="badge badge-pill badge-danger">
                      x
                    </span>
                  <% end %>
                <% end %>
              </li>
              <li>
                <%= link_to "Impact and Consequences", project_consequence_guide_path(@project) %>
                <% if @project.consequence_guide? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <% if @project.respondent_template? %>
                <% if current_account.can_manage_project?(@project) %>
                  <%= link_to "Respondent Template", project_respondent_template_path(@project, @project.respondent_template) %>
                <% else %>
                  Respondent Template
                <% end %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <%= link_to "Respondent Template", new_project_respondent_template_path(@project) %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <% if current_account.can_manage_project?(@project) %>
                  <%= link_to "Project Settings", project_settings_path(@project)  %>
                <% else %>
                  Project Settings
                <% end %>
                <% if @project.verified_settings? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <% if current_account.can_manage_project?(@project) %>
                  <%= link_to "Visible in Directory", project_settings_path(@project)  %>
                <% else %>
                  Visible in Directory
                <% end %>
                <% if @project.show_in_directory? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h2 class="card-title">Links</h2>
        <div class="card-text">
          <ul>
            <li>
              <%= link_to "Home Page", @project.url, target: "_new" %>
            </li>
            <li>
              <%= link_to "Code of Conduct", @project.coc_url, target: "_new" %>
            </li>
            <% if @project.public? %>
              <li>
                <%= link_to "View in Directory", directory_project_path(@project.slug) %>
              </li>
            <% end %>
            <li>
              <%= link_to "Moderators", project_moderators_path(@project)  %>
            </li>
            <% if current_account.can_manage_project?(@project) && @project.check_setup_complete? %>
              <li>
                <%= link_to "Ownership Confirmation", project_ownership_path(@project) %>
              </li>
            <% end %>
            <% if @project.check_setup_complete? && current_account.can_manage_project?(@project) %>
              <li>
                <%= link_to "Project Settings", project_settings_path(@project)  %>
              </li>
            <% end %>
            <% if @project.setup_complete? %>
              <% if @project.autoresponder? %>
                <li>
                  <%= link_to "Autoresponder", project_autoresponder_path(@project, @project.autoresponder) %>
                </li>
              <% end %>
              <% if @project.consequence_guide? %>
                <li>
                  <%= link_to "Impact and Consequences", project_consequence_guide_path(@project) %>
                </li>
              <% end %>
              <% if @project.respondent_template? %>
                <li>
                  <%= link_to "Respondent Template", edit_project_respondent_template_path(@project, @project.respondent_template) %>
                </li>
              <% end %>
            <% end %>
            <% if @project.account_project_blocks.any? %>
              <li>
                <%= link_to "Blocked Accounts", project_account_project_blocks_path(@project) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs mt-5 mb-3 responsive" id="nav-tab" role="tablist">
  <li class="nav-item"><a class="nav-link active" id="nav-newissues-tab" data-toggle="pill" href="#nav-newissues" role="tab" aria-controls="nav-newissues" aria-selected="true">
    New Issues <span class="badge badge-pill badge-danger"><%= @issues.submitted.size %></span>
  </a></li>
  <li class="nav-item"><a class="nav-link " id="nav-acknowledgedissues-tab" data-toggle="pill" href="#nav-acknowledgedissues" role="tab" aria-controls="nav-acknowledgedissues" aria-selected="false">
    In Progress <span class="badge badge-pill badge-warning"><%= @issues.acknowledged.size + @issues.reopened.size %></span>
  </a></li>
  <li class="nav-item"><a class="nav-link " id="nav-resolvedissues-tab" data-toggle="pill" href="#nav-resolvedissues" role="tab" aria-controls="nav-resolvedissues" aria-selected="false">
    Resolved <span class="badge badge-pill badge-light"><%= @issues.resolved.size %></span>
  </a></li>
  <li class="nav-item"><a class="nav-link " id="nav-dismissedissues-tab" data-toggle="pill" href="#nav-dismissedissues" role="tab" aria-controls="nav-dismissedissues" aria-selected="false">
    Dismissed <span class="badge badge-pill badge-dark"><%= @issues.dismissed.size %></span>
  </a></li>
</ul>

<div class="tab-content responsive" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-newissues" role="tabpanel" aria-labelledby="nav-newissues-tab">
    <%= render partial: "issues", locals: { issues: @issues.submitted } %>
  </div>

  <div class="tab-pane fade" id="nav-acknowledgedissues" role="tabpanel" aria-labelledby="nav-newissues-tab">
    <%= render partial: "issues", locals: { issues: @issues.acknowledged + @issues.reopened } %>
  </div>

  <div class="tab-pane fade" id="nav-resolvedissues" role="tabpanel" aria-labelledby="nav-newissues-tab">
    <%= render partial: "issues", locals: { issues: @issues.resolved } %>
  </div>

  <div class="tab-pane fade" id="nav-dismissedissues" role="tabpanel" aria-labelledby="nav-newissues-tab">
    <%= render partial: "issues", locals: { issues: @issues.dismissed } %>
  </div>

</div>

<% if @settings.paused? %>
  <%= button_to "Unpause Issue Reporting", project_toggle_pause_path(@project), class: "btn btn-warning" %>
<% else %>
  <%= button_to "Pause Issue Reporting", project_toggle_pause_path(@project), class: "btn btn-danger" %>
<% end %>
