<div class="row">
  <div class="col">
    <h1><%= @project.name %></h1>
    <p><%= @project.description %></p>
    <div class="actions">
      <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-warning" %>
      <% if current_account.can_open_issue_on_project?(@project) %>
        <%= link_to "Open an Issue", new_project_issue_path(@project), class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>

  <div class="col">
    <% unless @project.check_setup_complete? %>
      <div class="card mb-2" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Setup Checklist</h2>
          <div class="card-text">
            <ul>
              <li>
                <%= link_to "Ownership Confirmation", project_ownership_path(@project) %>
                <% if @project.ownership_confirmed? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to "Consequence Ladder", project_issue_severity_levels_path(@project) %>
                <% if @project.consequence_ladder? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <% if @project.respondent_template? %>
                  <%= link_to "Respondent Template", project_respondent_template_path(@project, @project.respondent_template) %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <%= link_to "Respondent Template", new_project_respondent_template_path(@project) %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to "Project Settings", project_settings_path(@project)  %>
                <% if @project.verified_settings? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
              <li>
                <%= link_to "Visible in Directory", project_settings_path(@project)  %>
                <% if @project.show_in_directory? %>
                  <span class="badge badge-pill badge-success">
                    √
                  </span>
                <% else %>
                  <span class="badge badge-pill badge-danger">
                    x
                  </span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title">Links</h2>
        <div class="card-text">
          <ul>
            <li>
              <%= link_to "Home Page", @project.url, target: "_new" %>
            </li>
            <li>
              <%= link_to "Code of Conduct", @project.coc_url, target: "_new" %>
            </li>
            <% if @project.public? %>
              <li>
                <%= link_to "View in Directory", directory_project_path(@project.slug) %>
              </li>
            <% end %>
            <li>
              <%= link_to "Project Settings", project_settings_path(@project)  %>
            </li>
            <% if @project.consequence_ladder? %>
              <li>
                <%= link_to "Consequence Ladder", project_issue_severity_levels_path(@project) %>
              </li>
            <% end %>
            <% if @project.respondent_template? %>
              <li>
                <%= link_to "Respondent Template", edit_project_respondent_template_path(@project, @project.respondent_template) %>
              </li>
            <% end %>
            <% if @project.account_project_blocks.any? %>
              <li>
                <%= link_to "Blocked Accounts", project_account_project_blocks_path(@project) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs mt-5 mb-3 responsive" id="nav-tab" role="tablist">
  <li class="nav-item"><a class="nav-link active" id="nav-newissues-tab" data-toggle="pill" href="#nav-newissues" role="tab" aria-controls="nav-newissues" aria-selected="true">
    New Issues <span class="badge badge-pill badge-danger"><%= @issues.submitted.size %></span>
  </a></li>
  <li class="nav-item"><a class="nav-link " id="nav-acknowledgedissues-tab" data-toggle="pill" href="#nav-acknowledgedissues" role="tab" aria-controls="nav-acknowledgedissues" aria-selected="false">
    In Progress <span class="badge badge-pill badge-warning"><%= @issues.acknowledged.size + @issues.reopened.size %></span>
  </a></li>
  <li class="nav-item"><a class="nav-link " id="nav-resolvedissues-tab" data-toggle="pill" href="#nav-resolvedissues" role="tab" aria-controls="nav-resolvedissues" aria-selected="false">
    Resolved <span class="badge badge-pill badge-light"><%= @issues.resolved.size %></span>
  </a></li>
  <li class="nav-item"><a class="nav-link " id="nav-dismissedissues-tab" data-toggle="pill" href="#nav-dismissedissues" role="tab" aria-controls="nav-dismissedissues" aria-selected="false">
    Dismissed <span class="badge badge-pill badge-dark"><%= @issues.dismissed.size %></span>
  </a></li>
</ul>

<div class="tab-content responsive" id="nav-tabContent">

  <div class="tab-pane fade show active" id="nav-newissues" role="tabpanel" aria-labelledby="nav-newissues-tab">
    <%= render partial: "issues", locals: { issues: @issues.submitted } %>
  </div>

  <div class="tab-pane fade" id="nav-acknowledgedissues" role="tabpanel" aria-labelledby="nav-newissues-tab">
    <%= render partial: "issues", locals: { issues: @issues.acknowledged + @issues.reopened } %>
  </div>

  <div class="tab-pane fade" id="nav-resolvedissues" role="tabpanel" aria-labelledby="nav-newissues-tab">
    <%= render partial: "issues", locals: { issues: @issues.resolved } %>
  </div>

  <div class="tab-pane fade" id="nav-dismissedissues" role="tabpanel" aria-labelledby="nav-newissues-tab">
    <%= render partial: "issues", locals: { issues: @issues.dismissed } %>
  </div>

</div>

<% if @settings.paused? %>
  <%= button_to "Unpause Issue Reporting", project_toggle_pause_path(@project), class: "btn btn-warning" %>
<% else %>
  <%= button_to "Pause Issues for 24 Hours", project_toggle_pause_path(@project), class: "btn btn-danger" %>
<% end %>
