<% if current_account.can_manage_organization?(@organization) %>
  <p>You can customize this guide from Beacon defaults or another one of your projects, or create your own.</p>

  <p><b>Important:</b> If you clone the guide from another source, all of your current issues will lose their associated severity.</p>

  <%= form_for guide, url: organization_consequence_guide_clone_path(@organization, @guide) do |f| %>
    <div class="form-group col-sm-6">
      <%= f.label :default_source %>
      <%= f.select :default_source, @available_guides.map(&:titleize), class: "form-control", include_blank: "Select..." %>
    </div>

    <div class="actions mb-3">
      <%= f.submit "Clone", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
</div>

<div class="row">

  <div class="col">
    <div id="ladder"%>
      <% @consequences.each do |consequence| %>
        <%= render partial: "consequence_organization", locals: {
            organization: @organzation,
            guide: @guide,
            consequence: consequence,
          }
        %>
      <% end %>
    </div>
  </div>

  <% if current_account.can_manage_organization_consequence_guide?(organization) %>
    <div class="col">
      <h2>New Consequence</h2>
      <%= form_for guide.consequences.new, url: organization_consequence_guide_consequences_path(@organization, @guide) do |f| %>
        <div class="form-group col-sm-6">
          <%= f.label :label %><br />
          <%= f.text_field :label, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :severity %>
          <%= f.select :severity, severities, class: "form-control" %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :action %><br />
          <%= f.text_area :action, class: "form-control" %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :consequence %><br />
          <%= f.text_area :consequence, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Update Guide", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
