<% title "#{@project.name} Settings" %>

<h1>Settings</h1>

<%= form_for @settings, url: project_settings_path do |f| %>

  <div class="form-group col-sm-6">
    <%= f.label :include_in_directory, "Make Project Public" %>
    <%= f.check_box :include_in_directory, class: "toggle", :data => { :toggle => 'toggle' } %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :publish_stats, "Publish Issue Statistics" %>
    <%= f.check_box :publish_stats, class: "toggle", :data => { :toggle => 'toggle' } %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :show_moderator_names, "Show Moderator Names or Emails" %>
    <%= f.check_box :show_moderator_names, class: "toggle", :data => { :toggle => 'toggle' } %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :allow_anonymous_issues, "Hide Reporter Identity from Moderators" %>
    <%= f.check_box :allow_anonymous_issues, class: "toggle", :data => { :toggle => 'toggle' } %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :rate_per_day, "Require 3rd Party Account Verification for Reporters" %>
    <%= f.check_box :require_3rd_party_auth, class: "toggle", :data => { :toggle => 'toggle' } %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :rate_per_day, "Maximum Issues / Day" %><br />
    <%= f.text_field :rate_per_day, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Settings", class: "btn btn-primary" %>
  </div>

<% end %>
