<table class="table">
  <thead>
    <tr>
      <th>Issue</th>
      <th>Project</th>
      <th>Description</th>
      <th>Opened</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
      <tr>
        <td>
          <% count = current_account.notifications.for_issue(issue).size %>
          <%= link_to issue.issue_number, project_issue_path(issue.project, issue) %>
          <% if count > 0 %>
            <span class="badge badge-pill badge-danger"><%= current_account.notifications.for_issue(issue).size %></span>
          <% end %>
        </td>
        <td><%= issue.project.name %></td>
        <td><%= truncate(issue.description, length: 50) %></td>
        <td><%= issue.created_at.in_time_zone.strftime("%a %b %d %Y at %l:%M %p %Z") %></td>
        <td><%= issue.aasm_state.titleize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
