<% title "#{@organization.name}: Import from GitLab" %>

<h1><%= @organization.name %>: Import Projects from GitLab</h1>

<%= form_with url: organization_import_projects_from_gitlab_path(@organization) do |f| %>
  <div class="form-group col-sm-6">
    <label for="token">OAuth Token</label><br />
    <%= f.password_field :token, value: @token, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Import", class: "btn btn-primary" %>
    <%= link_to "Cancel", @organization, class: "btn btn-warning" %>
  </div>
<% end %>
