<% title "Create an Organization" %>

<h1>Create an Organization</h1>

<p>Use this form to create an organization on Beacon. You will be able to configure
settings for managing your organization after it is created.</p>

<%= form_for @organization do |f| %>
  <div class="form-group col-sm-6">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label 'URL', for: :url %><br />
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label "Code of Conduct URL", for: :coc_url %><br />
    <%= f.text_field :coc_url, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label "Description", for: :description %><br />
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <label for="organization_remote_org_name">GitHub/GitLab Organization Name</label><br />
    <%= f.text_field :remote_org_name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Organization", class: "btn btn-primary" %>
  </div>
<% end %>
