<% title "#{@project.name}: Moderators" %>

<div class="row">
  <div class="col">
    <h1><%= @project.name %>: Moderators</h1>
    <ul>
      <% @moderators.each do |moderator| %>
        <li>
          <%= moderator.email %>
          <% unless moderator == @project.account %>
            <%= link_to "Remove", "#" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col">
    <h2>Invite a New Moderator</h2>

    <%= form_for @project_invitation, url: project_project_invitations_path(@project) do |f| %>
      <div class="form-group col-sm-6">
        <%= f.label :email, for: :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="form-group">
        <%= flash[:recaptcha_error] %>
        <%= recaptcha_tags %>
      </div>
      <div class="actions">
        <%= f.submit "Invite Moderator", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
