<h1><%= link_to @project.name, @project %>: <%= link_to "Issue #{@issue.issue_number}", project_issue_path(@project, @issue) %></h1>

<h2>Contact Respondent</h2>

<p>This is your first time contacting the respondent on this issue. Because they will not be able to see the description of the issue that has been filed, for the sake of the privacy of the reporter, you will need to summarize the issue for them in this message.</p>

<%= form_for @invitation, url: project_issue_issue_invitations_path(@project, @issue) do |f| %>
  <div class="form-group">
    <%= f.label "Respondent Email" %><br />
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Issue Summary" %><br />
    <%= f.text_area :summary, class: "form-control", rows: 20 %>
  </div>

  <div class="actions">
    <%= f.submit "Send", class: "btn btn-primary" %>
  </div>
<% end %>
