<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><%= image_tag "beacon_logo.png", id: "logo" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-link">
        <%= link_to "Directory", directory_path %>
      </li>

      <% if current_account && current_account.can_access_admin_dashboard? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu">
            <% if current_account.can_access_abuse_reports? %>
              <%= link_to "Abuse Reports", admin_abuse_reports_path, class: "dropdown-item" %>
            <% end %>
            <% if current_account.can_access_admin_account_dashboard? %>
              <%= link_to "Accounts", admin_accounts_path, class: "dropdown-item" %>
            <% end %>
            <% if current_account.can_access_admin_organization_dashboard? %>
              <%= link_to "Organizations", admin_organizations_path, class: "dropdown-item" %>
            <% end %>
            <% if current_account.can_access_admin_project_dashboard? %>
              <%= link_to "Projects", admin_projects_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      <% end %>
      <% if current_account %>
        <li class="nav-item nav-link">
          <%= link_to "My Organizations", organizations_path %>
        </li>
        <li class="nav-item nav-link">
          <%= link_to "My Projects", projects_path %>
          <% count = current_account.notifications.where(project_id: current_account.projects.map(&:id)).count %>
          <% if count > 0 %>
            <span class="badge badge-pill badge-danger"><%= count %></span>
          <% end %>
        </li>
        <% if current_account.issues.any? %>
          <li class="nav-item nav-link">
            <%= link_to "My Issues", issues_path %>
            <% count = current_account.notifications.where(issue_id: current_account.issues.map(&:id)).count %>
            <% if count > 0 %>
              <span class="badge badge-pill badge-danger"><%= count %></span>
            <% end %>
          </li>
        <% end %>
        <% if current_account.invitations.any? %>
          <li class="nav-item nav-link">
            <%= link_to "Invitations", invitations_path %>
            <span class="badge badge-pill badge-danger"><%= current_account.invitations.size %></span>
          </li>
        <% end %>
      <% end %>
      <li class="nav-item nav-link">
        <%= link_to "About Beacon", about_path %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "User Guides", user_guides_path %>
      </li>
      <li class="nav-item nav-link">
        <%= link_to "Contact", new_contact_message_path %>
      </li>
    </ul>
    <div>
      <% if current_account %>
        <%= link_to current_account.display_name, edit_account_registration_path(current_account) %>
        <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Sign In", new_account_session_path, class: "btn btn-primary" %>
        <%= link_to "Register", new_account_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</nav>
