<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Beacon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Project Directory", directory_path, class: "nav-link" %>
      </li>

      <% if current_account.can_access_admin_dashboard? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu">
            <% if current_account.can_access_admin_project_dashboard? %>
              <%= link_to "Projects", admin_projects_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      <% end %>
      <% if current_account && current_account.projects.any? %>
        <li class="nav-item nav-link">
          <%= link_to "Manage My Projects", projects_path %>
          <% count = current_account.notifications.count %>
          <% if count > 0 %>
            <span class="badge badge-pill badge-danger"><%= count %></span>
          <% end %>
        </li>
      <% end %>

      <% if current_account && current_account.issues.any? %>
        <li class="nav-item nav-link">
          <%= link_to "Manage My Issues", issues_path %>
          <% count = current_account.notifications.where(issue_id: current_account.issues.map(&:id)).count %>
          <% if count > 0 %>
            <span class="badge badge-pill badge-danger"><%= count %></span>
          <% end %>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to "FAQ", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About Beacon", "#", class: "nav-link" %>
      </li>
    </ul>
    <div>
      <% if current_account %>
        <%= link_to current_account.email, edit_account_registration_path(current_account) %>
        <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Sign In", new_account_session_path, class: "btn btn-primary" %>
        <%= link_to "Register", new_account_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</nav>
