<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Beacon" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Beacon" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container mt-3">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class="page-footer font-small blue pt-4">
      <div class="footer-copyright text-center py-3">© 2019
        <a href="https://where.coraline.codes/">Coraline Ada Ehmke</a>.
        Source code and issues:
        <a href="https://github.com/contributorCovenant/beacon">Beacon on Github</a>
      </div>
  </footer>
</body>
</html>
