<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Beacon" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Beacon" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"     integrity="sha384-wvfXpqpZZVQGK6TAh2PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
    <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Setting.google(:analytics_id) %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= Setting.google(:analytics_id) %>');
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container mt-3">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer class="page-footer font-small blue pt-4">
      <div class="footer-copyright text-center py-3">© <%= Date.today.year %>
        <a href="https://where.coraline.codes/">Coraline Ada Ehmke</a> |
        <a href="https://github.com/contributorCovenant/beacon">Github</a> |
        <a href="https://www.patreon.com/cocbeacon">Patreon</a> |
        <a href="https://www.gofundme.com/coc-beacon">GoFundMe</a>
      </div>
  </footer>

  <%= javascript_tag do %>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  <% end %>
</body>
</html>
